<p id="notice"><%= notice %></p>

<p>
  <b>Authorname:</b>
  <%= @author.authorname %>
</p>

<p>
  <b>Department:</b>
  <%= @author.department %>
</p>

<p>
  <b>Class name:</b>
  <%= @author.class_name %>
</p>

<p>
  <b>Mail:</b>
  <%= @author.mail %>
</p>

<p>
  <b>Phone:</b>
  <%= @author.phone %>
</p>

<p>
  <b>Stunum:</b>
  <%= @author.stunum %>
</p>

<p>
  <b>Grade:</b>
  <%= @author.grade %>
</p>

<p>
  <b>Credit:</b>
  <%= @author.credit %>
</p>

<p>
  <b>User:</b>
  <%= @author.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @author.project_id %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
