
<%= form_for @attachment, :multipart => true do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :filename %>
  </div>
    <%= f.hidden_field :user_id %>
  <div class="actions">
 <input name="commit" type="submit" value="上传">
  </div>
<% end %>

