<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.filename %></td>
    <td><%= attachment.user.username %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Download', download_attachment_path(attachment) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_attachment_path %>
