<div class="container">
<div class="bs-docs-example">
<h1>项目文件</h1>
 <table class="table table-striped">
  <tr>
    <th>院系</th>
    <th>文件</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.user.username %></td>
    <td><%= attachment.filename %></td>
    <td><%= link_to '查看', attachment %></td>
    <td><%= link_to '删除', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to '下载', download_attachment_path(attachment) %></td>
  </tr>
<% end %>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td><a href="/attachments/new" style="color:blue;">上传文件</a></td>
</table>
</div>
<hr>

      <footer>
        <p>&copy; Thusast 2012</p>
      </footer>

</div> <!-- /container -->
