<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @project.department %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>User:</b>
  <%= @project.user_id %>
</p>

<p>
  <b>Author1:</b>
  <%= @project.author1 %>
</p>

<p>
  <b>Author2:</b>
  <%= @project.author2 %>
</p>

<p>
  <b>Author3:</b>
  <%= @project.author3 %>
</p>

<p>
  <b>Author4:</b>
  <%= @project.author4 %>
</p>

<p>
  <b>Professor:</b>
  <%= @project.professor %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Prize:</b>
  <%= @project.prize %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
